html, body { height:100%; }
body {
	padding:0;
	margin:0;
	background:#333;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
	color:#eee;
	font-family:helvetica;
	font-size:12px;
}

.wrapper {
	width:1024px;
	min-width:320px;
	height:145px;
    margin:10px auto;
	border: 5px solid rgb(43, 38, 38);
}

.swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	-ms-box-pack:center;
	-o-box-pack:center;
	box-pack:center;
	-webkit-box-align:center;
	-mox-box-align:center;
	-ms-box-align:center;
	-o-box-align:center;
	box-align:center;
	overflow:hidden;
}

.swipeview-slider img {
	display:block;
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-ms-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
	opacity:1;
	pointer-events:none;
    visibility:visible;
}

.swipeview-slider .set-container {
    margin:auto;
}

.swipeview-slider .container {
    background: rgb(197, 197, 197);
    float: left;
    margin: 0 5px;
}

.swipeview-slider img.loading {
    visibility:hidden;
}
